.idea
.sass-cache/
*.css.map
.DS_Store
node_modules/
npm-debug.log
.vscode

# Build distribution
bundle.js
bundle.js.map

# Composer
/vendor/
composer.lock

#coding
/gulp/html/assets/videos/
/theme/assets/videos/
