@mixin fadeInUp($delay: 0s) {
  opacity: 0;
  transition: all .8s ease-in-out;
  transition-delay: $delay;
  transform: translate3d(0, 50px, 0);

  &.js-is-inview {
    opacity: 1;
    transform: none;
  }
}
