-
  var title = 'Webサイト'
  var description = 'Webサイト'
  var rootImg = './assets/images/'
  var commonImg = './assets/images/common/'

block vars
doctype
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="format-detection", content="telephone=no,address=no,email=no")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")

    link(rel='stylesheet' href='assets/css/main.css?ver=0.1')

    block includeJs

  body(class=bodyClass)
    div.site(data-scroll-container)
      include _header

      main#main.main(data-scroll-section)
        block content

      if title=='404'
        .errorBg

      else
        include _footer

    block end_of_body
      script(src="//kit.fontawesome.com/2b5237d088.js" crossorigin="anonymous")

      script(src="assets/js/vendor/lottie.min.js")
      script(src="assets/js/vendor/jquery-3.4.0.min.js")
      script(src="assets/js/vendor/jquery.easing.min.js")

      script(src="assets/js/vendor/svg4everybody.min.js")
      script(src="assets/js/vendor/picturefill.min.js")

      script svg4everybody();
      script(src="./assets/js/main.min.js?ver=1.3557")
