{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-recommended-scss",
    "stylelint-config-recess-order",
    "stylelint-prettier/recommended"
  ],
  "rules": {
    "number-leading-zero": "never",
    "font-family-no-missing-generic-family-keyword": [
      true,
      {
        "ignoreFontFamilies": ["Font Awesome 5 Free", "Font Awesome 5 Pro", "Font Awesome 5 Duotone", "Font Awesome 5 Brands"]
      }
    ],
    "indentation": 2,
  }
}
